## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
0,0,Albany,US,2021-11-01 00:58:29,42.6001,-73.9662,55.74,80,100,10.38,overcast clouds,0,0
1,1,Nikolskoye,RU,2021-11-01 00:58:29,59.7035,30.7861,48.02,88,98,6.80,overcast clouds,0,0
2,2,Hambantota,LK,2021-11-01 00:58:29,6.1241,81.1185,75.54,100,40,0.00,scattered clouds,0,0
3,3,Provideniya,RU,2021-11-01 00:58:30,64.3833,-173.3000,19.51,58,0,15.66,clear sky,0,0
4,4,Bluff,NZ,2021-11-01 00:58:30,-46.6000,168.3333,54.30,75,100,29.24,overcast clouds,0,0

In [76]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [77]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
# max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=20)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
# max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Katsuura']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Wajima']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Tateyama']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Yonago']

In [79]:
# # 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start['Lat'].values[0], vacation_start['Lng'].values[0]
end = vacation_end['Lat'].values[0], vacation_end['Lng'].values[0]
stop1 = vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0]
stop2 = vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0]
print(start)
print(stop1)
print(stop2)
print(end)

(35.1333, 140.3)
(34.9833, 139.8667)
(35.4333, 133.3333)
(37.4, 136.9)

In [80]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2,end],
    travel_mode='DRIVING'
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])
itinerary_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3 hours),Snow inches (last 3 hours)
54,54,Katsuura,JP,2021-11-01 00:55:39,35.1333,140.3000,68.18,83,100,6.42,overcast clouds,0,0
291,291,Wajima,JP,2021-11-01 00:59:56,37.4000,136.9000,63.28,82,75,4.61,broken clouds,0,0
438,438,Tateyama,JP,2021-11-01 01:00:54,34.9833,139.8667,68.09,85,98,11.14,overcast clouds,0,0
444,444,Yonago,JP,2021-11-01 01:00:56,35.4333,133.3333,65.73,68,97,5.48,overcast clouds,0,0

In [86]:
hotel_df = itinerary_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
54   Katsuura      JP     68.18  35.1333  140.3000
291    Wajima      JP     63.28  37.4000  136.9000
438  Tateyama      JP     68.09  34.9833  139.8667
444    Yonago      JP     65.73  35.4333  133.3333

In [87]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [88]:
# 11a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))